.modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex; justify-content: center; align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-height: 90vh;
    overflow-y: auto;
  }
  
  .modal-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .section {
    margin: 10px 0;
  }
  
  .add-button {
    background: #e91e63;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
  }
  
  .close {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
  }
  .billing {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    margin-left: 20px;
  }
  
  .billing table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  .billing table td, .billing table th {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .billing-summary p,
  .billing-summary h3 {
    display: flex;
    justify-content: space-between;
  }
  
  .payment-buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .cash-btn,
  .card-btn,
  .place-order-btn {
    background: #4caf50;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .place-order-btn {
    width: 100%;
    background-color: #e91e63;
  }
  .product-list {
    width: 100%;
    max-width: 600px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 5px;
  }
  
  .product-card {
    background: #f2f2f2;
    padding: 15px;
   
    cursor: pointer;
    transition: all 0.2s;
    text-align: center;
  }
  
  .product-card:hover {
    background: #dcdcdc;
  }
  